<div>
  <div class="[&>div]:overflow-hidden [&>div]:absolute [&>div]:rounded-full [&>div]:shadow-lg [&>div]:shadow-gray-400 [&>div]:z-20
    [&>div>img]:w-full [&>div>img]:h-full [&>div>img]:object-fit [&>div>img]:scale-110">
    <!-- Imagen superior derecha -->
    <div class="w-[340px] h-[340px] top-4 left-2/6">
      <img src="images/login-images/pexels-koshevaya_k-2365312-4170629.jpg" alt="">
    </div>

    <!-- Imagen superior izquierda -->
    <div class="w-[250px] h-[250px] top-25 left-50">
      <img src="images/login-images/pexels-cafe-libro.jpg" alt="">
    </div>

    <!-- Imagen superior izquierda -->
    <div class="w-[250px] h-[250px] bottom-35 left-2/6">
      <img src="images/login-images/pexels-libro.jpg" alt="">
    </div>

    <!-- Imagen inferior izquierda -->
    <div class="w-[200px] h-[200px] bottom-30 left-20">
      <img src="images/login-images/pexels-dream-count.jpg" alt="">
    </div>
  </div>

  <!-- Burbujas -->
  <div class="[&>div]:absolute [&>div]:rounded-full [&>div]:bg-blue-100">
    <div class="absolute w-[50px] h-[50px] bottom-3/12 left-80">

    </div>

    <div class="w-[60px] h-[60px] bottom-2/12 left-3/12">

    </div>

    <div class="w-[50px] h-[50px] bottom-7/12 left-4/12">

    </div>

    <div class="w-[50px] h-[50px] bottom-8/12 left-3/12">

    </div>

    <div class="w-[100px] h-[100px] bottom-7/12 left-2/12">

    </div>

    <div class="w-[120px] h-[120px] bottom-17/24 left-7/24">

    </div>

    <div class="w-[50px] h-[50px] bottom-5/12 left-4/12">

    </div>

    <div class="w-[50px] h-[50px] bottom-5/12 left-2/12">

    </div>

    <div class="w-[100px] h-[100px] bottom-4/12 left-1/12">

    </div>
  </div>
</div>
