<div class="w-full flex flex-col items-center justify-center">
  <!-- Header-->
  <div class="flex flex-col gap-10 items-center">
    <img src="icon/sweetBooki.svg" alt="">

    <h1>Iniciar sesión</h1>
  </div>

  <!-- Formulario -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 w-11/12 mt-6">
    <div class="w-full">
      <div class="float-container"
          [ngClass]="{
            'error-field': email?.touched && email?.invalid
          }">

        <input type="text" id="emailInput" placeholder=" " formControlName="email"/>
        <label for="emailInput">Correo electrónico *</label>
      </div>

      @if(email?.touched && email?.invalid){
        <p class="input-error-message">Este campo es obligatorio</p>
      }
    </div>

    <div class="w-full">
      <div class="float-container"
          [ngClass]="{
            'error-field': password?.touched && password?.invalid
          }">

        <input type="password" id="passwordInput" placeholder=" " formControlName="password"/>
        <label for="passwordInput">Contraseña*</label>
      </div>

      @if(password?.touched && password?.invalid){
        <p class="input-error-message">Este campo es obligatorio</p>
      }
    </div>

    <button pButton type="submit" label="Iniciar sesión" class="submit-button"></button>
  </form>

  <!-- opciones -->
  <div class="w-full flex flex-col items-center justify-center gap-1 mt-2">
    <p>¿No tienes cuenta?
      <a href="" style="color: var(--main-title-color);" routerLink="/register"> Regístrate </a>
    </p>
    <p>¿Olvidaste tu contraseña?
      <a href="" style="color: var(--main-title-color) ;"> Recuperar </a>
    </p>
  </div>
</div>
