<div>
  <div class="[&>div]:overflow-hidden [&>div]:absolute [&>div]:rounded-full [&>div]:shadow-lg [&>div]:shadow-gray-400 [&>div]:z-20
    [&>div>img]:w-full [&>div>img]:h-full [&>div>img]:object-fit [&>div>img]:scale-110">
    <!-- Imagen superior izquierda -->
    <div class="w-[340px] h-[340px] top-4 left-11/24">
      <img src="images/register-images/photo-1456513080510-7bf3a84b82f8.jfif" alt="">
    </div>

    <!-- Imagen superior derecha -->
    <div class="w-[250px] h-[250px] top-25 left-20/24">
      <img src="images/register-images/photo-1481627834876-b7833e8f5570.jfif" alt="">
    </div>

    <!-- Imagen inferior izquierda -->
    <div class="w-[250px] h-[250px] bottom-35 left-12/24">
      <img src="images/register-images/photo-1512820790803-83ca734da794.jfif" alt="">
    </div>

    <!-- Imagen inferior derecha -->
    <div class="w-[200px] h-[200px] bottom-30 left-20/24">
      <img src="images/register-images/photo-1524995997946-a1c2e315a42f.jfif" alt="">
    </div>
  </div>

  <!-- Burbujas -->
  <div class="[&>div]:absolute [&>div]:rounded-full [&>div]:bg-blue-100">
    <div class="absolute w-[50px] h-[50px] bottom-3/12 left-9/12">

    </div>

    <div class="w-[60px] h-[60px] bottom-2/12 left-8/12">

    </div>

    <div class="w-[50px] h-[50px] bottom-7/12 left-10/12">

    </div>

    <div class="w-[50px] h-[50px] bottom-8/12 left-8/12">

    </div>

    <div class="w-[70px] h-[70px] bottom-20/24 left-17/24">

    </div>

    <div class="w-[35px] h-[35px] bottom-15/24 left-18/24">

    </div>

    <div class="w-[130px] h-[130px] bottom-7/24 left-7/12">

    </div>

    <div class="w-[130px] h-[130px] bottom-15/24 left-7/12">

    </div>

    <div class="w-[120px] h-[120px] bottom-17/24 left-19/24">

    </div>

    <div class="w-[50px] h-[50px] bottom-5/12 left-8/12">

    </div>

    <div class="w-[50px] h-[50px] bottom-5/12 left-10/12">

    </div>

    <div class="w-[100px] h-[100px] bottom-3/12 left-10/12">

    </div>
  </div>
</div>

